@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.notes {
  &__button {
    position: fixed;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: $celadon;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: translateY(-50%) scale(1.1);
      background-color: #ffeb84;
    }

    &--icon {
      width: 1.5rem;
    }
  }
}

.widget {
  position: fixed;
  right: 15%;
  top: 20%;
  background: #f9f7c9;
  border-radius: 10px;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  @include tablet {
    position: fixed;
    right: 5%;
  }
  &__fullview {
    opacity: 1;
    visibility: visible;
    width: 75vw;
    max-width: 30rem;
    background: rgba(255, 235, 132, 0.75);
    box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.3);

    @include tablet {
      width: 80vw;
      max-width: 35rem;
    }
  }
}

.content {
  transition: opacity 0.3s ease-in-out;

  &__fullview {
    overflow-y: auto;
    height: 45vh;
    max-height: 65vh;
    padding: 0.5rem;
    position: relative;
  }

  &__expand {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    height: 45vh;
    max-height: 65vh;
  }
}

.close {
  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    cursor: pointer;
    border: none;

    &:hover {
      transform: scale(1.2);
    }

    &--icon {
      width: 1.5rem;
    }
  }
}

.tasks {
  &__row {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    background: #ffeb84;
    padding: 0.5rem;
    border-radius: 8px;
    @include body-small;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
    height: 15vh;
    max-height: 8rem;
    width: 100%;

    &:hover {
      box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
    }
  }
  &__other {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.25rem;
  }
  &__column {
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(0.9);
      transform: translateY(-2px);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.18);
    }
  }

  &__cell-item {
    padding: 0.25rem;
    border-radius: 4px;
    cursor: pointer;

    &:active {
      transition: transform 0.5s ease, box-shadow 0.2s ease;
    }

    &:focus {
      border: 1px solid $celadon-2;
      outline: none;
      cursor: pointer;
    }
  }

  &__input {
    @include body-small;
    outline: none;
    background-color: rgba(255, 235, 132, 0.918);
    border: none;
    border-radius: 8px;

    &:active,
    &:focus {
      cursor: pointer;
    }

    @include tablet {
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;
      &:active,
      &:focus {
        width: 6rem;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
    }

    @include desktop {
      &:active,
      &:focus {
        width: 10rem;
      }
    }
    &--name {
      padding: 0.5rem;
      &:active,
      &:focus {
        width: 17vh;
        height: 6vh;

        @include tablet {
          width: 17rem;
          height: 3.5rem;
        }
      }
    }
  }
  &__name {
    background: #ffcc66;
    height: 10vh;
    width: 18vh;
    text-wrap: wrap;
    overflow-y: auto;

    @include tablet {
      width: 18rem;
    }
  }

  &__date {
    &:active,
    &:focus {
      cursor: pointer;
    }
  }

  &__status {
    font-weight: 600;
    select {
      width: 100%;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  &__delete {
    display: flex;
    justify-content: flex-start;

    &--icon {
      max-width: 1.2rem;

      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }

    @include tablet {
      padding: unset;
    }
  }
}
