$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* SCSS HEX */
$antiflash-white: #f4f5f7ff;
$timberwolf: #dad7cdff;
$isabelline: #eeece8;
$lightest-green: #d8f3dcff;
$celadon: #b7e4c7ff;
$celadon-2: #95d5b2ff;
$mint: #74c69dff;
$sea-green: #40916cff;
$dartmouth-green: #2d6a4fff;
$brunswick-green: #1b4332ff;
$dark-green: #081c15ff;
$background-graphite: #232940;
$secondary-slate: #5c667e;
$primary-black: #13182c;
