@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.register-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    $lightest-green,
    $celadon-2,
    $lightest-green
  );
  padding: 1rem;
  animation: fadeIn 1s ease-out;

  &__content {
    text-align: center;
    padding: 0.5rem;
    max-width: 60rem;
  }

  &__title {
    @include page-header;
    color: $brunswick-green;
    margin-bottom: 1rem;
  }

  &__description {
    @include body-medium;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: slideDown 2s ease-out;
    padding: 0rem 1rem;

    p {
      font-weight: 600;
      color: $brunswick-green;
      transition: color 0.3s ease-in-out;
      transition: transform 0.5s ease-in-out;

      &:hover {
        color: $sea-green;
        transform: scale(1.1);
      }
    }
  }

  &__register {
    animation: slideRight 2s ease-out;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__extra {
    @include body-medium;
    color: white;
    font-weight: 600;
    // background-color: $sea-green;
    border-radius: 8px;
    margin: 1rem auto;
    padding: 1rem;
    // max-width: 1000px;
    transition: all 0.3s ease-in-out;
    @include desktop {
      @include body-large;
      font-weight: 600;
    }

    &-description {
      margin-bottom: 2rem;
      transition: color 0.3s ease-in-out;
      text-align: center;
    }

    &-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
    }

    &-card {
      background-color: $antiflash-white;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      width: 20rem;
      padding: 1.5rem;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
      }
      @include desktop {
        width: 16rem;
      }
      &__span {
        @include subheader;
        font-weight: bold;
        color: $sea-green;
        margin-bottom: 1rem;
        display: block;
        transition: color 0.3s ease-in-out;
      }

      &__description {
        @include body-medium;
        color: $dark-green;
        transition: color 0.3s ease-in-out;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(30rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
