@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.create-task {
  margin-top: 1rem;
  background: #ffeb84;
  padding: 0.5rem;
  border-radius: 8px;
  @include body-small;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  height: 15vh;
  max-height: 8rem;
  width: 100%;

  &__input {
    width: 100%;
    padding: 0.5rem;
    background: $antiflash-white;
    border: 1px solid $timberwolf;
    border-radius: 6px;
    outline: none;
    @include body-small;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
    }
    &:focus {
      border: 1px solid $celadon-2;
      outline: none;
      cursor: pointer;
    }
  }

  &__section {
  }

  &__form-group {
    width: 100%;
    max-width: 25rem;

    @include tablet {
      width: unset;
    }
  }
  &__other {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    justify-content: flex-start;
    margin-top: 0.5rem;
  }

  .task_status {
    padding: 0.5rem;
    @include body-small;
    border: 1px solid $timberwolf;
    border-radius: 6px;
    background: $antiflash-white;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
    flex: 1;
    &:hover {
      box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    }
    &:focus {
      border: 1px solid $celadon-2;
      outline: none;
      cursor: pointer;
    }
  }

  &__button {
    display: flex;
    align-items: center;
  }

  &__add {
    background: #ffcc00;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    &:hover {
      background-color: #ffb700;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

      transform: scale(1.1);
    }
  }
}

.create-task__date-picker {
  margin-right: 4rem;

  .react-datepicker {
    font-size: 0.85rem;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }
  .react-datepicker__month-container {
    // width: 30vw;
    // margin: -1rem;
  }
  .react-datepicker__header {
    background: #ffeb84; // Match the sticky note theme
    border-bottom: 1px solid #ddd;
  }

  .react-datepicker__current-month {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .react-datepicker__day {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
  }

  .react-datepicker__day--selected {
    background: #ffcc00;
    color: white;
  }

  .react-datepicker__day:hover {
    background: #ffdb4d;
  }
}
