@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-page {
  padding: 1rem;
  flex: 1;

  @include tablet {
    padding: 1rem 2.5rem;
  }
}
