@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.form {
  &__response-box {
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      max-width: 60rem;
      padding: 1.5rem;
    }

    @include desktop {
      max-width: 80rem;
      padding: 2rem;
    }
  }

  &__response--header {
    @include page-header;
    color: $dartmouth-green;
    padding-bottom: 1rem;
  }

  &__response--title {
    @include body-large;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }

  &__response--desc {
    @include body-medium;
    // padding: 1rem 0;
  }

  &__match-score {
    &--desc {
      @include body-large;
      font-weight: 700;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      display: inline-block;
    }

    &--low {
      color: #c94515;
      border: 1px solid $isabelline;
      background-color: $antiflash-white;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #c94515;
        color: $antiflash-white;
      }
    }

    &--medium {
      border: 1px solid $isabelline;
      background-color: $antiflash-white;
      transition: background-color 0.3s ease;
      color: #d4a017;
      &:hover {
        background-color: #d4a017;
        color: $antiflash-white;
      }
    }

    &--high {
      color: $sea-green;
      border: 1px solid $isabelline;
      background-color: $antiflash-white;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: $sea-green;
        color: $antiflash-white;
      }
    }

    &--par {
      @include body-medium;
      padding: 1rem 0;
      color: $secondary-slate;
    }
  }

  &__strengths--list,
  &__weaknesses--list,
  &__suggestions--list {
    list-style: none;
    position: relative;
    padding: 0.5rem 1rem;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &::before {
      position: absolute;
      left: 1rem;
      font-weight: bold;
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
    }
  }
  &__strengths--list {
    border-left: 4px solid $mint;

    &::before {
      content: "✔";
      color: $sea-green;
    }
  }

  &__weaknesses--list {
    border-left: 4px #c94515 solid;

    &::before {
      content: "\26A1";
    }
  }

  &__suggestions--list {
    border-left: 4px solid darken($timberwolf, 10%);

    &::before {
      content: "★";
      color: darken($timberwolf, 20%);
    }
  }

  &__improved-resume--desc {
    background-color: #fff;
    padding: 0 1rem;
    border-left: 4px solid $sea-green;
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
    margin: 0.5rem 0;
    border-radius: 8px;

    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
    }
  }
}
