@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.resume {
  padding: 1rem;
  flex: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 2.5rem;
  }
}

.res-header {
  &--title {
    @include page-header;
    color: $dartmouth-green;
    padding-bottom: 1rem;
  }

  &--desc {
    @include body-medium;
    padding-bottom: 1rem;

    @include tablet {
      max-width: 80%;
    }

    @include desktop {
      @include body-large;
    }
  }
}

.form-box {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  //   margin: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  //   align-items: flex-start;
  width: 100%;

  @include tablet {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 60rem;
    padding: 1.5rem;
  }

  @include desktop {
    // flex-direction: row;
    // justify-content: space-around;
    // width: unset;
    max-width: 80rem;
    padding: 2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &--input-section {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 1rem;
      gap: 2rem;
    }
  }

  &--input-box {
    display: flex;
    flex-direction: column;

    @include desktop {
      //   justify-content: space-between;
      width: 100%;
    }
  }

  &__label {
    @include body-large;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }

  &__resume-text {
    @include body-medium;
    border-radius: 16px;
    outline: none;
    border: 1px solid $isabelline;
    background-color: $antiflash-white;
    // border: none;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 100%;
    min-height: 10rem;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      background-color: darken($antiflash-white, 3%);
      transition: transform 0.5s ease, box-shadow 0.2s ease;
    }

    &:active {
      transition: transform 0.5s ease, box-shadow 0.2s ease;
    }

    &:focus {
      border: 1px solid $celadon-2;
      outline: none;
      cursor: pointer;
    }

    @include desktop {
      min-height: 15rem;
    }
  }

  &__job-desc {
    @include body-medium;
    outline: none;
    background-color: $antiflash-white;
    border: 1px solid $isabelline;
    // border: none;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 100%;
    min-height: 10rem;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      background-color: darken($antiflash-white, 3%);
      transition: transform 0.5s ease, box-shadow 0.2s ease;
    }

    &:active {
      transition: transform 0.5s ease, box-shadow 0.2s ease;
    }

    &:focus {
      border: 1px solid $celadon-2;
      outline: none;
      cursor: pointer;
    }

    @include desktop {
      min-height: 15rem;
    }
  }

  &--invalid {
    @include body-small;
    color: #c94515;
  }

  &__button {
    @include labels-links-buttons;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
    width: 100%;
    background-color: $lightest-green;
    border: 1px solid $celadon !important;
    color: $dark-green;
    padding: 0.75rem;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: darken($lightest-green, 10%);
      transform: translateY(-2px);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.18);
    }

    &:active {
      background-color: darken($lightest-green, 15%);
      transform: scale(0.98);
    }

    @include tablet {
      max-width: 30rem;
    }

    @include desktop {
      max-width: 20rem;
      margin-left: auto;
    }
  }
}
